node_modules/
dist/
.next/
out/
build/
coverage/
.turbo/
*.tsbuildinfo

# Prisma generated client
packages/database/generated/

# Env
.env
.env.local
.env.*.local
!.env.example

# Editors / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
